<header class="heading">
  <h1 class="align--centered">What Clients Look For</h1>
  <p>A list of search queries made by your clients, click on an underlined query for more details.</p>
</header>

<table>
  <thead>
    <tr class="table100-head">
      <th style="width: 50%;">Query</th>
      <th class="align--centered">Articles, #</th>
      <th class="align--centered">How Often</th>
      <th class="align--centered">Users, #</th>
      <th class="align--centered">Last Occurrence</th>
    </tr>
  </thead>
  <tbody>
    <% @queries.reverse_chronologically.by_body.sort_by { |o| o[1].size }.reverse.each do |body, queries| %>
      <tr>
        <td>
          <pre><%= body %></pre>
        </td>
        <td class="align--centered"><%= queries.last.results_count %></td>
        <td class="align--centered"><%= queries.size %></td>
        <td class="align--centered"><%= queries.pluck(:creator_token).uniq.count %></td>
        <td class="align--centered"><%= queries.last.updated_at.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
